<div class="divvone">
  <div class="d-flex direction-column between vertical-center mtb">
    <img class="logo" src="../../../../assets/img/logo.png" alt="logo">
    <div class="d-flex center direction-column mat">
      <mat-icon class="white">home</mat-icon>
        <mat-icon class="router" [routerLink]="['/appointments']">groups</mat-icon>
      <mat-icon class="white">diversity_2</mat-icon>
      <mat-icon class="white">poll</mat-icon>
      <mat-icon class="white">settings</mat-icon>
    </div>
    <mat-icon class="white">person</mat-icon>
  </div>
</div>
