app-contacts {
  .divvone {
    height: 90vh;
    width: 22vw;
    background-color: $contacts-bg;

    h3{
      font-weight: bold;
    }
    .padding {
      padding: .5rem;
    }

    .scrollable {
      overflow-y: scroll;
      height: 60vh;
    }

    img {
      height: 7vh;
      width: 7vh;
      border-radius: 100%;
      object-fit: cover;
      margin: 1.5vh;
    }

    .align-items {
      width: 10%;
      align-items: flex-start;
    }

    .contact {
      width: 90%;
    }

    .link {
      background-color: $main-bg;
      border-radius: 15px;
      margin: 1vh;
      margin-right: 2vh;
      box-shadow: rgba(0, 0, 0, 0.43) 0 0  3px;
    }

    .link:hover {
      cursor: pointer;
      background-color: rgba(0, 81, 255, 0.07);
    }

    .link:focus{
      cursor: default;
      background-color: $accent;
      color: #edf4f6;
    }

    .phone {
      color: #5d5d5d;
    }

    .letters {
      font-size: .7rem;
      font-weight: bold;
    }

    .color{
      color: grey;
      pointer-events: none
    }

    a:hover {
      cursor: pointer;
    }
  }
}
