<div class="divvone">
  <div class="padding">
  <div class="d-flex direction-column">
    <div class="d-flex between height">
      <h3>Contacts</h3>
      <a [routerLink]="['/form']"><button mat-flat-button color="primary" >ADD CONTACT</button></a>
    </div>
    <mat-form-field class="example-full-width height" appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Filter by Name" (keyup)="search($event)">
    </mat-form-field>
  </div>

  <div class="d-flex">
    <div class="d-flex direction-column contact scrollable">
      <div *ngFor="let patient of patientDataSorted; let i = index" class="d-flex direction-column" [routerLink]="'/form/edit/'+ patient.id">
        <span id="{{letterArray[i]}}">{{letterArray[i]}}</span>
        <div class="d-flex vertical-center link" [tabindex]="i">
          <img src="{{patient.imgPath}}" alt="{{patient.id}}">
          <div class="d-flex direction-column">
            <strong>{{patient.name}} {{patient.surname}}</strong>
            <span class="phone">{{patient.phone}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex direction-column align-items scrollable">
      <div *ngFor="let letter of alphabet; let i = index">
        <a (click)="scrollTo(letter)" [ngClass]="{'color' : !letterArray.includes(alphabet[i])}"><span class="letters">{{alphabet[i]}}</span></a>
      </div>
    </div>
  </div>
</div>
</div>
