<div class="divvone d-flex vertical-center between">
  <div class="margin-left d-flex between width">
    <div class="d-flex vertical-center">
      <mat-icon>search</mat-icon>
    </div>
    <span>Medical services</span>
    <span>Places</span>
    <span>Agenda</span>
    <span class="underlined">Appointments</span>
    <span>Smart Access</span>
    <span>My patients</span>
    <span>Registry account</span>
  </div>

  <div class="margin-right d-flex vertical-center between width2">
    <div class="round d-flex vertical-center center">
      <mat-icon matBadge="1" matBadgeColor="warn" class="accent">chat_bubble</mat-icon>
    </div>
    <div class="round d-flex vertical-center center">
      <mat-icon matBadge="1" matBadgeColor="warn" class="accent">notifications</mat-icon>
    </div>
    <div class="d-flex vertical-center">
      <div>
        <img src="../../../../../assets/img/doctor.png" alt="doctor">
      </div>
      <div class="d-flex direction-column">
        <span class="accent">Doc.</span>
        <span>G. Rossi</span>
      </div>
    </div>
  </div>
</div>
